/* Banner Section */
.Banner {
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
    border: 2px solid skyblue;
}

.colored-heading {
    font-size: 32px;
}

.orange {
    color: orange;
}

.blue {
    color: aqua;
}

.banner-butn {
    background-color: black;
    border: 2px solid black;
    color: white;
    border-radius: 12px;
    height: 50px;
    width: 150px;
    font-size: 24px;
    cursor: pointer;
}

.banner-img {
    width: 40%;
}

.banner-img img {
    width: 100%;
    width: 400px;
}