/* Banner Section */
.Banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    border: 2px solid skyblue;
}

.colored-heading {
    font-size: 32px;
}

.orange {
    color: orange;
}

.blue {
    color: aqua;
}

.banner-butn {
    background-color: black;
    border: 2px solid black;
    color: white;
    border-radius: 12px;
    height: 50px;
    width: 150px;
    font-size: 24px;
    cursor: pointer;
}

.banner-img {
    width: 40%;
}

.banner-img img {
    width: 100%;
    width: 400px;
}


/* Mobile Responsiveness */
@media (max-width: 576px) {
    
    .banner-img {
      width: 100%;
    }
  
    /* Content should be center-aligned */
    .Banner {
      width: 100%; 
      padding: 20px; 
      margin-top: 20px; 
    }
  
    .Banner h1,
    .Banner p {
      margin: 0 auto;
      width: 90%;
    }
  }