
.navbar{
    margin-top: 0%;
}
.nav-container{
    display: flex;
    align-items: center;
    font-size: 1.5rem; 
    /* border: 2px solid tomato; */
    padding: auto;
    /* margin-top: 100px; */
    margin-bottom: 100px;
    
}

/* display shared */
.nav-content{
    display: flex;
    padding: 30px 40px;
    
}
.nav-link{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 40px 50px; 
    
}

.nav-item{
    list-style: none;
    margin-right: 30px;
    
}

.contact-button{
    background-color: orange; 
    color: white; 
    border-radius: 12px; 
    padding: 5px 40px;
}
.nave-link1{
    color: orange;
    text-decoration: none;
}
.nave-link2{
    color: aqua;
    text-decoration: none;
}
.nave-link3{
    color: skyblue;
    text-decoration: none;
}
.nave-link4{
    color: purple;
    text-decoration: none;
}

@media screen and (max-width: 576px) {
    .nav-container, .nav-content, .nav-link {
        flex-direction: column;
    }
    
}