/* stories Section */
.third-part{
    border: 2px solid green;
    padding: 20px;
    margin: 20px;
}

.third-title {
    font-size: 36px;
    color: black;
    text-align: center;
}

.story-container-box{
    display: flex;
    justify-content: space-between;
    height: 600px;
    width: 600px;
    /* border: 2px solid green */
    
}
.story-content-box
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    /* border: 2px solid red; */
}

.clg-img{
    height: calc(100% - 5px)/2;
    border-image: auto;
    border-radius: 12px;
}

.clg-btn{
    background-color: aqua;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 10px 20px;
    position: relative;
    top: 20%; 
    left: 30%; 
    transform: translate(-50%, -50%);
    font-size: 16px;
    align-items: center;
}



/* small */
@media (max-width: 576px) {
    .story-container-box {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for mobile */
    }
  }
  
  /* medium */
  @media (min-width: 576px) and (max-width: 992px) {
    .story-container-box {
      grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
    }
  }

